@import url(config.css);

.dashboard-transaction-container,
.dashboard-profit-container,
.dashboard-distribution-container{
    height: 100%;
    width: 100%;
    margin-top: 4rem;
    background-color: var(--clr-navbar-bg) !important; 
    border-radius: 10px;
    transition: 1s;
    
    .dashboard-transaction-title,
    .dashboard-profit-title,
    .dashboard-distribution-title{
        background-color: var(--clr-container-title);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: .4em 1em;
        p:before{
            content: "";
            display: inline-block;
            margin-right: 10px;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            background-color: #f7c443;
            z-index: 100;
        }
    }
}
@media screen and (min-width:600px) {
    .dashboard-profit-container,
    .dashboard-distribution-container{
        margin-top: 0;
    }
    .dashboard-profit-container{
        width: 60%;
    }
    .dashboard-distribution-container{
        margin-bottom:auto !important;
        width:30%;
    }
    .dashboard-distribution-container:hover,
    .dashboard-profit-container:hover{
        // transform: translateY(-50px) ;
        box-shadow: 26px 37px 38px -7px rgba(0,0,0,0.69);
        -webkit-box-shadow: 26px 37px 38px -7px rgba(0,0,0,0.69);
        -moz-box-shadow: 26px 37px 38px -7px rgba(0,0,0,0.69);
    }
    .dashboard-graph-container{
        display: flex;
        gap:6em;
        margin-top:3rem
    }

    .dashboard-transaction-container{   
        margin-top:3rem
    }
}