@import url(config.css);

.navbar{
    background-color: var(--clr-navbar-bg); 
    color: var(--clr-navbar-icon);
    position:fixed;
    width: 100%;
    // width: 0%;
    bottom: 0;
}

.navbar-nav{
    height: 100%;
    box-sizing: border-box;
    padding-block:1.5rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .navbar-item{
        list-style-type: none;
        text-align: center;
        font-size: 30px;
        padding:10px;
        transition: 0.3s;
    }
    .navbar-item.on-active{
        background-color:#0e3a58
    }
    .navbar-item:hover{
        opacity: .5;
    }
}

@media screen and (min-width:500px) {
    .navbar{
        height: 100vh;

        width:4.375rem;
    }
    .navbar-nav{
        box-sizing: border-box;
        flex-direction: column;
        gap: 2em;
        .navbar-item.on-active{
            background-color:#0e3a58
        }   
        .navbar-item:last-child{
            margin-top: auto;
        }
    }
    
}
